<div style="background-image: url(<%= theme.home_page.background%>)" class="home-content slider fullscreen">
  <div class="home-title-card left-align">
    <h3><%= config.title %></h3>
    <h5 class="light grey-text text-lighten-3"><%= config.subtitle%></h5>
    <% theme.home_nav.forEach(function(item,i){ %>
    <div class="chip">
      <a class="waves-ffect waves-default" target="<% if(item.target_blank){%><%= '_blank' %><%} %>" href="<%= item.url %>">
          <%= __('home_nav.'+item.name)%>
        </a>
    </div>
    <%}) %>
    </div>
</div>
