<!DOCTYPE html>
<html lang="<%=config.language%>">

  <%- partial('partials/head') %>
  <body>
    <%- partial('partials/fab')%>

    <%- body %>

    <%- partial('partials/modal') %>

    <% if (theme.post.showComments && page.layout === 'post'){ %>
    <%- partial('partials/comments', {className: 'comments-post'}) %>
    <% } else if (page.comments) { %>
    <%- partial('partials/comments', {className: 'comments-' + page.layout}) %>
    <% } %>


    <%- partial('partials/footer') %>

    <%- partial('partials/load-script') %>
  </body>
</html>
