<!DOCTYPE html>
<html lang="<%=config.language%>">

  <%- partial('partials/head')%>
  <body>
    <% if(!is_home()){ %>
    <%- partial('partials/fab',{},{cache: true})%>
    <% } %>

    <%- body %>
    <%- partial('partials/modal') %>

    <% if (theme.post.show_comments && page.layout === 'post'){ %>
    <%- partial('partials/comments', {className: 'comments-post'}) %>
    <% } else if (page.comments) { %>
    <%- partial('partials/comments', {className: 'comments-' + page.layout}) %>
    <% } %>


    <%- partial('partials/footer',{},{cache: true}) %>

    <%- partial('partials/load-script') %>
  </body>
</html>
